<h1>Generating base64 images with <a href="" target="_blank">CropperJS</a></h1>

<iframe src="https://ghbtns.com/github-btn.html?user=RodrigoPauletti&repo=angular-cropperjs-multiple-files&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>

<form [formGroup]="form">
  
  <input type="file" id="file" (change)="onFileChange($event)" [disabled]="generating" multiple />

  <div class="previews">
    <div class="preview" *ngFor="let f of form.get('files').controls; let i = index;" (click)="changeCropperFile(i)">
      <div class="img-preview" id="img-preview{{ i }}"></div>
    </div>
  </div>

  <br />

  <div class="{{ 'previews-cropper ' + getCropperClassObservable(i) }}" formArrayName="files" *ngFor="let f of form.get('files').controls; let i = index;">
    <div [formGroupName]="i">
      <angular-cropper #angularCropper [cropperOptions]="configs[i]" [imageUrl]="f.value.data.file"></angular-cropper>
    </div>
  </div>

  <br/>

  <button type="button" class="btn btn-success" [disabled]="form.get('files').controls.length === 0 || generating"
    (click)="generate()">
    <span *ngIf="!generating">Generate base64 images</span>
    <span *ngIf="generating">Generating...</span>
  </button>

</form>


<div *ngIf="filesGenerated.length > 0">
  <h1>Base64 generated images</h1>
  <div *ngFor="let fileGenerated of filesGenerated; let i = index;">
    <p>Image {{ i }}</p>
    <img [src]="fileGenerated.file" />
    <hr/>
  </div>
</div>